@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500&family=Young+Serif&display=swap');

:root {
  --brand-dark-green: #036D19;
  --brand-light-green: #78C091;
  --brand-light-pink: #FFE3DC;
  --brand-dark-pink: #DBBAAD;
  --brand-purple: #5C415D;
  --brand-background: #ffeeea;

  --border-radius: 1rem;

  --transition-speed: 250ms;

  --shadow-color: 12deg 31% 60%;
  --shadow-elevation-low:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.34),
    0.1px 1.9px 2.1px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0.1px 1.6px 1.8px -0.8px hsl(var(--shadow-color) / 0.36),
    0.2px 4px 4.5px -1.7px hsl(var(--shadow-color) / 0.36),
    0.4px 9.7px 10.9px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0.1px 2.8px 3.2px -0.4px hsl(var(--shadow-color) / 0.34),
    0.2px 5.3px 6px -0.7px hsl(var(--shadow-color) / 0.34),
    0.3px 8.7px 9.8px -1.1px hsl(var(--shadow-color) / 0.34),
    0.5px 13.8px 15.5px -1.4px hsl(var(--shadow-color) / 0.34),
    0.8px 21.6px 24.3px -1.8px hsl(var(--shadow-color) / 0.34),
    1.3px 32.8px 36.9px -2.1px hsl(var(--shadow-color) / 0.34),
    1.9px 48.4px 54.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  background-color: var(--brand-background);
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Young Serif", serif;
}

#top-bar {
  position: sticky;
  margin-bottom: 3rem;
  box-shadow: var(--shadow-elevation-medium);
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
}

#nav-bar {
  background-color: white;
  padding: 1.5em;
  display: flex;
}

#nav-bar .logo {
  margin-right: auto;
}

#nav-bar .nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5em;
}

#nav-bar .nav-menu li {
  display: block;
}

#nav-bar .nav-menu li a {
  font-size: 1.1rem;
  color: var(--brand-dark-green);
  font-weight: medium;
  text-decoration: none;
  transition: all var(--transition-speed);
}

#nav-bar .nav-menu li a:hover {
  color: var(--brand-light-green);
  transition: all var(--transition-speed);
}

#filter-bar {
  background-color: var(--brand-dark-green);
  padding: 1em 10vw;
  color: white;
  align-items: center;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  gap: 2em;
}

#filter-bar .filter-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.25em;
}

.filter-container select {
  background-color: white;
  color: black;
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
}

#wrapper {
  max-width: 80vw;
  margin: 0 auto 7rem auto;
}

/* Display container formatting */

.animal-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.animal-container .animal-card {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  border-radius: var(--border-radius);
  background-color: white;

  box-shadow: var(--shadow-elevation-low);
  transition: all var(--transition-speed);
}

.animal-container .animal-card:hover {
  cursor: pointer;
  box-shadow: var(--shadow-elevation-medium);

  transition: all var(--transition-speed);
}

.animal-card .photo {
  width: 100%;
  height: 300px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.animal-card .details-box {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25em;
}

.animal-card h2, .animal-card h3 {
  margin: 0;
}

.animal-card h3 {
  color: var(--brand-dark-green);
}

.animal-card p {
  font-weight: 300;
}

.tag-cloud {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.tag-cloud .tag {
  padding: 0.25em 0.75em;
  background-color: var(--brand-purple);
  border-radius: var(--border-radius);
  font-weight: 300;
  color: white;
  font-size: 0.9rem;
}

/* Trainer container */

.trainer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.trainer-container .trainer-card {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.trainer-card .photo {
  width: 150px;
  height: 150px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: 0.5rem solid var(--brand-dark-pink);
  border-radius: 100%;
}

.trainer-card h2 {
  text-align: center;
}

/* Individual container */
.detail-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 2em;
  min-height: 60vh;
}

.detail-wrapper h2 {
  color: var(--brand-dark-green);
}

.detail-wrapper .photo {
  width: 50%;
  min-height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: var(--border-radius);
  box-shadow: var(--shadow-elevation-medium);
}

.detail-block .tag-cloud {
  width: 75%;
  margin: auto;
}



/* Other styles */

h2.no-results {
  padding: 5em;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
}

#footer {
  width: 100%;
  background-color: var(--brand-purple);
  color: white;
  padding: 5rem;
  display: flex;
  box-sizing: border-box;
}

#footer .logo {
  margin-right: auto;
}

#footer .nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5em;
}

#footer .nav-menu li {
  display: block;
}

#footer .nav-menu li a {
  font-size: 1.1rem;
  color: var(--brand-dark-green);
  font-weight: medium;
  text-decoration: none;
  transition: all 200ms;
}

#footer .nav-menu li a:hover {
  color: var(--brand-light-green);
  transition: all 200ms;
}